body{
    font-family: 'Quicksand', sans-serif;
    background-color: white;
}

.container{
    text-align: center;
    background-color: white;
    width: 30%;
    margin-left: 34%;
    margin-top: 2%;
    padding: 30px;
    border: #861846 solid 3px;
    border-radius: 20px;
}

.container h4{
    font-size: 20px;
}

.texto{
    width: 60%;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-color: #968ff7;
}

.turno{
    background-color: #461A2C;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    width: 150px;
}

.enviar{
    margin-top: 20px;
    padding: 10px;
    color: white;
    background: #461A2C;
    border: solid 0px;
}

.enviar:hover{
    opacity: .7;
}